/* use this .css to create the styles of the HTML bricks*/

/* declaring the functionality of centering an image */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*Heading*/
section.heading h2 {
  font-size: 50px;
  text-align:center;
  color:#102C4E;
  margin-top: 150px;
  margin-bottom:70px;
}
/*Sub-Heading*/
section.heading p {
  font-size: 30px;
  color:rgba(29, 15, 48, 0.699)
}
/*layout of boxes*/
.boxes-items {
  border-radius: 15px;

  float: left;
  width: 25%;
  padding: 10px;
  margin: 3.9%;
  height: 500px;
}
/*Heading of each box*/
  section.boxes .boxes-items h2 {
    font-size: 35px;
    color: rgb(253, 253, 253);
    font-weight: 600;
    line-height: 37px;
    text-align: center;
    margin: 20px 0 10px;
    text-transform: uppercase;
  }
/*title of each box*/
  section.boxes .boxes-items .name {
    color: rgb(253, 253, 253);
    font-weight: 600;
    font-size: 200%;
    line-height: 50px;
    float: left;
    text-align: center;
    margin: 300px 0 50px;
    padding-left: 10%;
    padding-right: 20px;
  }

/* price of the NFT*/
section.boxes .boxes-items .price {
  color: rgb(253, 253, 253);
  font-weight: 400;
  font-size: 200%;
  line-height: 50px;
  margin: 300px 0 50px;
  margin-left: 180px;
  float: left;
}


  section.boxes .one, section.boxes .two, section.boxes .three,  section.boxes .four,  section.boxes .five, section.boxes .six, section.boxes .seven, section.boxes .eight, section.boxes .four,  section.boxes .five, section.boxes .six, section.boxes .seven, section.boxes .nine {
    background-color: rgba(66, 130, 104, 0.39);
  }
  /* NFTs should get the hove function*/
  section.boxes .nft :hover {
    opacity: .5;
    cursor: pointer;
  }