.createform {
  justify-content: center;
  align-items: left;
  height: inherit;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: table;
  margin: auto;
}

.createform h1 {
  font-size: 2.5em;
  font-weight: 1000;
  margin-bottom: 50px;
  color: #131313;
}

.createform h3 {
  color: #131313;
  margin-top: 2em;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-align: left;
}

.createform h4 {
  margin-top: 0;
  font-size: 0.8em;
  margin-bottom: 10px;
  color: #BABABA;
}

.createform textarea {
  box-sizing: border-box;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.createform input {
  box-sizing: border-box;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.createform input:focus {
  box-shadow: rgba(50, 50, 93, 0.15) 2px 4px 8px -2px, rgba(0, 0, 0, 0.2) 2px 2px 4px -2px;
  bottom: 5px;
}

.createform textarea:focus {
  box-shadow: rgba(50, 50, 93, 0.15) 2px 4px 8px -2px, rgba(0, 0, 0, 0.2) 2px 2px 4px -2px;
  bottom: 5px;
}

.createform .select-image {
  border: 2px dashed #ccc;
  background-color: #f6f6f6;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  margin-bottom: 3em;
}

.createform .select-image:hover {
  border: 2px dashed #969696;
  background-color: rgba(0, 0, 0, 0.2);
}


:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

::before,
::after {
  position: absolute;
  content: "";
}

.createform .bbtn {
  position: relative;
  display: inline;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px;
  min-width: 500px;
}

.createform .bbtn span {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem 1rem 2rem;
  transition: 0.3s;
  color: rgb(28, 31, 30);
  border: 1px solid #00000052;
  transition: 0.2s;
}

.createform .bbtn::before {
  background-color: #131313;
  transition: 0.3s ease-out;
}


.createform .bbtn span:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s 0.1s;
}

.createform .bbtn.hover-slide-right::before {
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
}

.createform .bbtn.hover-slide-right:hover::before {
  width: 100%;
}