.home {
    margin-top: 180px;
    margin-bottom: 120px;
    height: inherit;
}

.home h3 {
    text-align: center;
    font-weight: 600;
    color: #131313;
    margin-bottom: 2em;
}

.home h4 {
    font-weight: 700;
}

.home h5 {
    margin-top: 5%;
    color: grey;
    font-size: 40px;
}

.top-content {
    display: flex;

    margin-left: 200px;
    margin-right: 60px;
    margin-bottom: 160px;
    justify-content: space-between;
}

.top-content .text-section {
    text-align: left;
    align-items: left;
    justify-content: left;
    margin-right: 4em;
}


.top-content p {
    margin-top: 1.3em;
    font-size: 2em;
    margin-bottom: 2em;
}

.top-content img {
    height: 26em;
}

.top-content .bbtn1 {
    position: relative;
    display: inline;
    width: auto;
    height: auto;
    border: none;
    cursor: pointer;
    margin: 0px;
    min-width: 150px;
}

.top-content .bbtn-light {
    background-color: white;
    margin-left: 30px;
}

.top-content .bbtn-light span {
    color: #131313;
}

.top-content .bbtn-dark {
    background-color: #131313;
}

.top-content .bbtn-dark span {
    color: white;
}

.top-content .bbtn1 span {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em 2rem 1rem 2rem;
    border: 1px solid #00000052;
}



/*description of different features of the marketplace*/

.home .info-cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.home .info-cards .website-feature {
    height: 300px;
    width: 300px;
    float: left;
    text-align: center;
    font-weight: 500;
}

.cli-card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 14px -3px, rgba(0, 0, 0, 0.3) 0px 4px 8px -4px;
    bottom: 3px;
}