header{
    color: black;
    font-weight: bold;
    font-size: 50px;
}

h5{
    margin-top: 5%;
    color: grey;
    font-size: 40px;
}
/* first button to get to the marketplace*/
.Discover{
    color: Black;
    background-color: white;
    font-weight: 600;
    font-size: large;
    border-radius: 15px;
    height: 100px;
    width: 250px;
    border-color: black;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.Discover:hover{
    box-shadow: inset 400px 0 0 0 black;
    color: white;
}
/*second button to get to the minting page*/
.Create{
    color: Black;
    background-color: white;
    font-weight: 600;
    font-size: large;
    border-radius: 15px;
    height: 100px;
    width: 250px;
    border-color: black;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.Create:hover{
    box-shadow: inset 400px 0 0 0 black;
    color: white;
}

.widthDivider{
    width:5px;
    height:auto;
    display:inline-block;
}

.heightDivider{
    height:50px;
    width:auto;
    display:inline-block;
}

h3{
    text-align:center;
    margin-top: 100px;
    font-size: .5em;
    font-weight: 600;
    color: black;
}

h4{
    font-weight: 700;
}
/*description of different features of the marketplace*/
.Wallet, .Collection, .Minting, .Sell{
    height: 300px;
    width: 300px;
    float: left;
    text-align: center;
    font-weight: 500;
    margin-left: 7%;
}

p{
    color: grey;

}

