.Buttons{
    margin-left: 40px;
}

.Discover{
    color: white;
    background-color:#32a189;
    font-weight: 600;
    font-size: large;
    border-radius: 15px;
    height: 100px;
    width: 250px;
    border-color: #32a189;
    margin-top: 50px;
}

.Discover:hover{
    background-color: #38c1a3;
}

.Create{
    color: #32a189;
    background-color: white;
    font-weight: 600;
    font-size: large;
    border-radius: 15px;
    height: 100px;
    width: 250px;
    border-color: #32a189;
}
.Create:hover{
    background-color: rgba(225, 224, 224, 0.795);
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.notableNFTs{
    text-align:center;
    margin-top: 100px;
    font-size: .5em;
    font-weight: 600;
}
